In [3]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/it-ces/Datasets/main/type_of_credit.csv")
df

     Monthly-payment                     type_of_credit  Default
0        4253.073763                             Avance        0
1      360815.648703                   Microempresario         1
2      299912.171531                    Micro Convenio         0
3      333935.745843  Crédito  productivo urbano Micro         0
4        4207.902271                             Avance        0
..               ...                                ...      ...
995     11206.020537                             Avance        0
996     76542.677719                            Premium        0
997     16632.268859                             Avance        0
998      3014.069485                             Avance        0
999    469585.218164                    Credito Digital        0

[1000 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Monthly-payment  1000 non-null   float64
 1   type_of_credit   1000 non-null   object
 2   Default          1000 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ KB

In [5]:
df['Default'].unique()

array([0, 1])

In [6]:
df['type_of_credit'].value_counts()

type_of_credit
Avance                                               471
 Libre Inversion                                      79
Credito Digital                                       47
Microcredito Empresarial Activos Fijos                29
Pensionados  Apalancamiento                           28
                                                    ...
Crédito productivo rural productivo activos fijos      1
Profund Refinanc Pensionados                           1
 Readquisición Independientes                          1
Libre Inversion                                        1
Productivo urbano de credito Capital de Trabajo        1
Name: count, Length: 66, dtype: int64

In [7]:
df['Monthly-payment'].shape

(1000,)

In [8]:
df['Monthly-payment'].describe()

count    1.000000e+03
mean     2.700276e+05
std      5.187051e+05
min      2.454283e+02
25%      7.029921e+03
50%      8.658389e+04
75%      3.259568e+05
max      5.353655e+06
Name: Monthly-payment, dtype: float64

In [18]:
import re

x = r'[a-zA-Z]'

a = df['Monthly-payment']
b = df['Monthly-payment'].astype(str).replace(r'[^\d.]', '', regex=True).astype(float)

set(a) - set(b)

set()

In [10]:
sospechosos = re.findall(r'\d+', str(df['type_of_credit']))
sospechosos

['0', '1', '2', '3', '4', '995', '996', '997', '998', '999', '1000']

In [11]:
df['tipo'] = df['type_of_credit'].str.contains(r'[^a-zA-Z0-9\s]')
df['tipo']

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: tipo, Length: 1000, dtype: bool

In [12]:
df['tipo'].value_counts()

tipo
False    954
True      46
Name: count, dtype: int64

In [13]:
df[df['tipo']==True]

,Monthly-payment,type_of_credit,Default,tipo
3,3.339357e+05,Crédito productivo urbano Micro,0,True
34,3.254072e+03,Microcredito Cupo de Crédito,0,True
44,9.051022e+04,Readquisición Empleados,0,True
103,4.690488e+05,Crédito productivo urbano DIGITAL,0,True
138,9.691453e+04,Empleados Sustitución Pasivos,0,True
170,1.369177e+05,Readquisición Micro er Crédito,0,True
178,2.124171e+03,Microcredito Cupo de Crédito,0,True
179,3.009486e+03,Microcredito Cupo de Crédito,0,True
203,1.713829e+03,Microcredito Cupo de Crédito,0,True
204,2.923482e+03,Microcredito Cupo de Crédito,0,True
261,4.285413e+03,Microcredito Cupo de Crédito,0,True
303,4.007911e+05,Microcrédito,0,True
311,7.811978e+03,Microcredito Cupo de Crédito,0,True
327,1.364931e+05,Microcrédito Digital,0,True
354,2.103166e+05,Crédito productivo urbano,0,True
367,2.210255e+03,Microcredito Cupo de Crédito,0,True
374,7.952183e+04,Premium Microcrédito,0,True
388,1.669175e+04,Microcredito Cupo de Crédito,0,True
431,8.448308e+03,Microcredito Cupo de Crédito,0,True
433,4.067371e+05,Microcrédito,0,True
445,3.986076e+05,Readquisición Pensionados,0,True
455,4.172034e+04,Microcredito Cupo de Crédito,0,True
492,9.510932e+05,Microcrédito Digital,0,True
494,7.176389e+02,Microcredito Cupo de Crédito,0,True
506,1.851059e+04,Microcredito Cupo de Crédito,0,True
549,8.314475e+03,Microcredito Cupo de Crédito,0,True
558,2.807850e+05,Microcrédito,0,True
564,8.268146e+03,Microcredito Cupo de Crédito,0,True
567,5.075093e+03,Microcredito Cupo de Crédito,0,True
576,5.257736e+03,Microcredito Cupo de Crédito,0,True
581,7.300051e+04,Microcredito Cupo de Crédito,1,True
620,5.706342e+05,Crédito productivo urbano Micro,0,True
631,1.904171e+05,Empleados Sustitución Pasivos,0,True
646,2.825290e+05,Empleados Refinanciación,0,True
663,1.005390e+06,Pensionados Refinanciación,0,True
682,2.855053e+05,Crédito productivo urbano Micro,0,True
695,1.172344e+06,Crédito productivo urbano,0,True
725,1.716847e+05,Readquisición Empleados,0,True
738,4.119673e+03,Microcredito Cupo de Crédito,0,True
743,6.481828e+04,Microcredito Cupo de Crédito,1,True
790,5.836836e+05,Crédito productivo rural productivo activos fijos,0,True
803,4.174542e+04,Microcredito Cupo de Crédito,0,True
878,9.850299e+05,Crédito productivo urbano Micro,0,True
879,1.229601e+05,Readquisición Independientes,0,True
893,3.317527e+05,Pensionados Refinanciación,0,True
992,7.112675e+03,Microcredito Cupo de Crédito,0,True

In [14]:
# df['type_of_credit'] = df['type_of_credit'].str.upper()

# for value in range(df.shape[0]):
#   if df['type_of_credit'][value] == object:
#     df['type_of_credit'][value] = df['type_of_credit'][value].replace("Á", "A")
#     df['type_of_credit'][value] = df['type_of_credit'][value].replace('É', 'E')
#     # string = string.replace('Í', 'I', regex = True)
#     # string = string.replace('Ó', 'O', regex = True)
#     # string = string.replace('Ú', 'U', regex = True)

# # df['type_of_credit'] = df['type_of_credit'].replace('É', 'E', regex = True)
df

     Monthly-payment                     type_of_credit  Default   tipo
0        4253.073763                             Avance        0  False
1      360815.648703                   Microempresario         1  False
2      299912.171531                    Micro Convenio         0  False
3      333935.745843  Crédito  productivo urbano Micro         0   True
4        4207.902271                             Avance        0  False
..               ...                                ...      ...    ...
995     11206.020537                             Avance        0  False
996     76542.677719                            Premium        0  False
997     16632.268859                             Avance        0  False
998      3014.069485                             Avance        0  False
999    469585.218164                    Credito Digital        0  False

[1000 rows x 4 columns]

In [15]:
def std_str(string):
  if isinstance(string, str):
    string = string.upper()
    string = string.replace("Á", "A")
    string = string.replace('É', 'E')
    string = string.replace('Í', 'I')
    string = string.replace('Ó', 'O')
    string = string.replace('Ú', 'U')
    return string
  else:
    return string

In [16]:
df['type_of_credit'] = df['type_of_credit'].apply(std_str)
df

     Monthly-payment                     type_of_credit  Default   tipo
0        4253.073763                             AVANCE        0  False
1      360815.648703                   MICROEMPRESARIO         1  False
2      299912.171531                    MICRO CONVENIO         0  False
3      333935.745843  CREDITO  PRODUCTIVO URBANO MICRO         0   True
4        4207.902271                             AVANCE        0  False
..               ...                                ...      ...    ...
995     11206.020537                             AVANCE        0  False
996     76542.677719                            PREMIUM        0  False
997     16632.268859                             AVANCE        0  False
998      3014.069485                             AVANCE        0  False
999    469585.218164                    CREDITO DIGITAL        0  False

[1000 rows x 4 columns]

In [ ]:
# (?<!digital')micro(?!\w+digital)

In [ ]:
df['type_of_credit'] = df['type_of_credit'].replace(r'[(?<!DIGITAL)micro(?!\w+DIGITAL)]')

In [ ]:
if df['type_of_credit']