In [58]:
import wbgapi as wb
import pandas as pd

In [65]:
economies = wb.economy.DataFrame().reset_index() # This is very important.
economies

,id,name,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
0,ABW,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad
1,AFE,Africa Eastern and Southern,True,NaN,NaN,,,,,
2,AFG,Afghanistan,False,69.1761,34.52280,SAS,SAS,IDX,LIC,Kabul
3,AFW,Africa Western and Central,True,NaN,NaN,,,,,
4,AGO,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda
...,...,...,...,...,...,...,...,...,...,...
261,XKX,Kosovo,False,20.9260,42.56500,ECS,ECA,IDX,UMC,Pristina
262,YEM,"Yemen, Rep.",False,44.2075,15.35200,MEA,MNA,IDX,LIC,Sana'a
263,ZAF,South Africa,False,28.1871,-25.74600,SSF,SSA,IBD,UMC,Pretoria
264,ZMB,Zambia,False,28.2937,-15.39820,SSF,SSA,IDX,LMC,Lusaka
265,ZWE,Zimbabwe,False,31.0672,-17.83120,SSF,SSA,IDB,LMC,Harare

In [35]:
#'NY.GDP.PCAP.PP.KD':'PBI per capita', 'SP.POP.GROW':'%PIB','NY.GDP.PCAP.PP.KD':'tasa de crecimiento poblacional'
df =wb.data.DataFrame(["NY.GNS.ICTR.ZS", "SP.POP.GROW", "NY.GDP.PCAP.PP.KD" ], time = range(2010, 2020), labels=True,
                  columns='series',
                  numericTimeKeys=True).reset_index()
df

,economy,time,Country,Time,NY.GDP.PCAP.PP.KD,NY.GNS.ICTR.ZS,SP.POP.GROW
0,ZWE,2019,Zimbabwe,2019,3412.966691,17.709202,1.989253
1,ZWE,2018,Zimbabwe,2018,3716.910359,13.923906,2.020537
2,ZWE,2017,Zimbabwe,2017,3611.828010,-2.682417,2.043620
3,ZWE,2016,Zimbabwe,2016,3541.881324,-4.967818,2.081806
4,ZWE,2015,Zimbabwe,2015,3584.098151,-10.086841,2.136294
...,...,...,...,...,...,...,...
2655,AFE,2014,Africa Eastern and Southern,2014,4108.190054,17.869206,2.774990
2656,AFE,2013,Africa Eastern and Southern,2013,4048.089185,17.729796,2.780207
2657,AFE,2012,Africa Eastern and Southern,2012,3990.080300,18.280423,2.740405
2658,AFE,2011,Africa Eastern and Southern,2011,3983.110618,21.171272,2.738185
2659,AFE,2010,Africa Eastern and Southern,2010,3921.778029,20.879925,2.757929

In [36]:
df.rename(columns={'NY.GDP.PCAP.PP.KD':'PBI per capita','NY.GNS.ICTR.ZS':'%PIB','SP.POP.GROW':'tasa de crecimiento poblacional'}, inplace= True)
df

,economy,time,Country,Time,PBI per capita,%PIB,tasa de crecimiento poblacional
0,ZWE,2019,Zimbabwe,2019,3412.966691,17.709202,1.989253
1,ZWE,2018,Zimbabwe,2018,3716.910359,13.923906,2.020537
2,ZWE,2017,Zimbabwe,2017,3611.828010,-2.682417,2.043620
3,ZWE,2016,Zimbabwe,2016,3541.881324,-4.967818,2.081806
4,ZWE,2015,Zimbabwe,2015,3584.098151,-10.086841,2.136294
...,...,...,...,...,...,...,...
2655,AFE,2014,Africa Eastern and Southern,2014,4108.190054,17.869206,2.774990
2656,AFE,2013,Africa Eastern and Southern,2013,4048.089185,17.729796,2.780207
2657,AFE,2012,Africa Eastern and Southern,2012,3990.080300,18.280423,2.740405
2658,AFE,2011,Africa Eastern and Southern,2011,3983.110618,21.171272,2.738185
2659,AFE,2010,Africa Eastern and Southern,2010,3921.778029,20.879925,2.757929

In [37]:
df.columns
uniquedf=df['economy'].unique()
len(df['economy'].unique())

266

In [38]:
economies.columns
uniquecon=economies['id'].unique()
len(economies['id'].unique())

266

In [39]:
print(set(uniquedf) - set(uniquecon))

set()

In [68]:
df_merge = df.merge(economies[['capitalCity','id']],left_on='economy', right_on='id')
df_merge

,economy,time,Country,Time,PBI per capita,%PIB,tasa de crecimiento poblacional,capitalCity,id
0,ZWE,2019,Zimbabwe,2019,3412.966691,17.709202,1.989253,Harare,ZWE
1,ZWE,2018,Zimbabwe,2018,3716.910359,13.923906,2.020537,Harare,ZWE
2,ZWE,2017,Zimbabwe,2017,3611.828010,-2.682417,2.043620,Harare,ZWE
3,ZWE,2016,Zimbabwe,2016,3541.881324,-4.967818,2.081806,Harare,ZWE
4,ZWE,2015,Zimbabwe,2015,3584.098151,-10.086841,2.136294,Harare,ZWE
...,...,...,...,...,...,...,...,...,...
2655,AFE,2014,Africa Eastern and Southern,2014,4108.190054,17.869206,2.774990,,AFE
2656,AFE,2013,Africa Eastern and Southern,2013,4048.089185,17.729796,2.780207,,AFE
2657,AFE,2012,Africa Eastern and Southern,2012,3990.080300,18.280423,2.740405,,AFE
2658,AFE,2011,Africa Eastern and Southern,2011,3983.110618,21.171272,2.738185,,AFE
2659,AFE,2010,Africa Eastern and Southern,2010,3921.778029,20.879925,2.757929,,AFE

In [ ]:
#filtrado por un valor que se repite en una columna
#[df_merge['Country']== 'Zimbabwe'] ----- detalle de condicion
#[['Country','PBI per capita','capitalCity']] ----- conjunto de datos a llamar
df_merge[df_merge['Country']== 'Zimbabwe'][['Country','PBI per capita','capitalCity']]

    Country  PBI per capita capitalCity
0  Zimbabwe     3412.966691      Harare
1  Zimbabwe     3716.910359      Harare
2  Zimbabwe     3611.828010      Harare
3  Zimbabwe     3541.881324      Harare
4  Zimbabwe     3584.098151      Harare
5  Zimbabwe     3588.862715      Harare
6  Zimbabwe     3614.714800      Harare
7  Zimbabwe     3579.340783      Harare
8  Zimbabwe     3149.310319      Harare
9  Zimbabwe     2787.410260      Harare

In [ ]:
#reordenar columnas de un DF
prueba = pd.DataFrame({
    "col1": [1, 2, 3],
    "col2": [4, 5, 6],
    "col3": [7, 8, 9]
})

In [60]:
reordenado = ['col2', 'col3', 'col1']

In [64]:
prueba= prueba[reordenado]
prueba

   col2  col3  col1
0     4     7     1
1     5     8     2
2     6     9     3